@use '@/styles/mixins';

.header {
  position: fixed;
  z-index: 2020;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0);
  transition: box-shadow .2s;

  // animation-name: hideHeader;
  // animation-duration: 1ms; /* Firefox requires this to apply the animation */
  // animation-timeline: --pageScrollY;

  img {
    display: block;

    @include mixins.max(sm) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &--scrolled:not(.header--menu-open) {
    box-shadow: 0 1px 0 rgba(0,0,0,.3);
  }
}

.header__background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color .3s, backdrop-filter .3s, height .3s;

  &--scrolled,
  &--menu-open {
    background-color: rgba(255,255,255,.8);
    backdrop-filter: blur(8px);
  }

  &--menu-open {
    height: 100dvh;
  }

  &--menu-opening {
    opacity: 1;
  }

  &--menu-closing {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0;

  @include mixins.min(sm) {
    height: 5rem;
  }
}

@keyframes hideHeader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg)
  }
}
