@use '@/styles/mixins';

.container {
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  @include mixins.min(lg) {
    padding: 2rem 4rem;

    &.less-padding {
      padding: 1rem 4rem;
    }

    &.no-vertical-padding {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @include mixins.range(sm, lg) {
    padding: 1rem 2rem;
  }

  @include mixins.max(sm) {
    padding: 1rem 1rem;
  }
}

.article {
  max-width: 50rem;
}

.slim {
  max-width: 50rem;
}

.centered {
  text-align: center;
}

.post-navigation {
  max-width: 50rem;
  padding-top: 0;
  padding-bottom: 0;
}