@import '@/styles/mixins';

.container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 4rem;

  @include range(sm, lg) {
    padding: 2rem 2rem;
  }

  @include max(sm) {
    padding: 2rem 1rem;
  }
}
