@use '@/styles/mixins';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: flex-start;

  @include mixins.max(lg) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .articleImg {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    border-radius: 3px;
  }

  .handWaveEmoji {
    position: relative;
    display: inline-block;
    width: 1.18em;
    height: 1.18em;
    margin-left: .5ch;
    vertical-align: top;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  p {
    line-height: 1.4;
    font-size: 1.25rem;

    + p {
      margin-top: 1em;
    }

    + h2 {
      margin-top: 1.5em;
    }

    strong {
      font-size: 1.375rem;
      font-weight: 500;
    }
  }

  h2 {
    font-size: 1.625rem;
    font-weight: 600;

    + p {
      margin-top: 1em;
    }
  }

  a {
    color: var(--link);
    text-underline-offset: 0.2em;

    &:hover,
    &:focus {
      color: var(--primary);
      text-decoration: underline;
    }
  }
}

.title {
  font-family: var(--font-zilla-slab), serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;

  @include mixins.min(lg) {
    grid-column: 1 / 3;
  }

  @include mixins.max(lg) {
    font-size: 2.5rem;
    text-align: center;
  }
}

.leftIntro {
}

.socialsHolder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  @include mixins.max(lg) {

    p {
      text-align: center;
    }
  }
}