@use '@/styles/mixins';

.logo {
  display: block;
  transition: all 0.2s;
  width: 3rem;
  height: 3rem;

  @include mixins.max(sm) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.circle {
  fill: #fff;
}

.shape {
  fill: #fff;
  stroke: #3835b9;
  stroke-width: 5.84px;
  transition: fill 0.2s, stroke 0.2s;
}

.line {
  fill: none;
  stroke: #3835b9;
  stroke-width: 5.84px;
  stroke-linecap: round;
  transition: stroke 0.2s;
}

.border {
  fill: var(--link);
  transition: fill 0.2s;
}

.logoLink:hover,
.logoLink:focus {
  svg {
    transform: translate(-4px, -4px);
    filter: drop-shadow(1px 1px 0 var(--link)) drop-shadow(2px 2px 0 var(--link));
    opacity: .8;
  }

  .shape,
  .line {
    stroke: var(--link);
  }

  .border {
    fill: var(--link);
  }
}

.logoLink:active {
  svg {
    transform: translate(0);
    filter: none;
    opacity: 1;
  }
}

