:root {
  --foreground: #222527;
  --link: #3835B9;
  --primary: #6866f2;
  --green: #00d26a;
  --red: #ff3f34;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100svh;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
}

body {
  color: var(--foreground);
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6,
.title {
  font-family: var(--font-zilla-slab), serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  &:hover,
  &:focus {
    outline-offset: 4px;
  }
}
