@use 'mixins';

.bg {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .3;
  animation: fadeIn2 .5s ease-out both;
  animation-delay: .2s;
  pointer-events: none;
}

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
  display: block;
}

// .noise {
//   position: absolute;
//   z-index: 3;
//   mix-blend-mode: multiply;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   filter: grayscale(.5) contrast(1.5);
//   opacity: .5;
//   pointer-events: none;
//   // animation: fadeIn2 1s ease-out both;
// }

.main {
  position: relative;
  $padding: 2rem;

  display: flex;
  width: 100%;
  min-height: 100svh;
  padding: $padding;
  padding-top: 5rem + $padding;

  @include mixins.max(lg) {
    padding: 4.5rem + 2rem  1rem 2rem;
  }
}

.center {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 2.5rem;
  margin: auto;

  @include mixins.max(lg) {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.photo {
  box-shadow: 0 0 0 3px var(--foreground);
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  width: 172px;
  height: 172px;

  @include mixins.max(lg) {
    box-shadow: 0 0 0 3px var(--foreground);
    width: 148px;
    height: 148px;
    margin: 0 auto;
  }
}

.name {
  color:  var(--primary);
}

.title {
  font-family: var(--font-zilla-slab), serif;
  font-size: 3rem;
  font-weight: 600;


  @include mixins.max(lg) {
    font-size: 2rem;
    text-align: center;
  }

  @include mixins.max(sm) {
    font-size: 1.7rem;
  }
}

.intro {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.7;
  max-width: 600px;
  color: var(--foreground);

  @include mixins.max(lg) {
    font-size: 1rem;
    text-align: center;
    margin-top: 1.25rem;
    max-width: 100%;
  }
}

.asideDetails {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;

  @include mixins.max(lg) {
    gap: .75rem;
    justify-content: center;
    display: flex;
  }
}

.contactButton {
  background-color: #fff;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 0 2px var(--foreground);
  padding: .3em .6em .4em;
  font-weight: 600;
  border-radius: 1px;
  transition: box-shadow .2s, color .2s;

  &:hover {
    box-shadow: 0 0 0 2px var(--link);
    color: var(--link);
  }

  @include mixins.max(lg) {
    flex-grow: 1;
  }
}

.dots {
  @include mixins.max(lg) {
    transform: rotate(90deg);
    height: 2rem;
  }
}

.pageContainer {
  position: relative;
  z-index: 2;
  padding-top: 5rem + 3rem;
  padding-bottom: 2rem;
  max-width: var(--max-width);
  margin: 0 auto;

  @include mixins.max(lg) {
    padding-top: 4.5rem + 2rem;
    padding-bottom: 1rem;
  }
}

@keyframes bulletPulse {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .3;
  }
}
