@use '@/styles/mixins';

.navList {
  align-items: center;
  display: flex;
  list-style: none;
  position: relative;
  font-size: 1.125rem;

  @include mixins.max(sm) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition: all .3s ease-in-out;
          transition-delay: .4s;
          transform: translateY(-1rem);
          opacity: 0;
        }
      }
    }

    a {
      font-size: 1.375rem;
    }
  }

  a {
    font-weight: 600;
    padding: .5em;
    display: inline-block;
    transition: color .2s;
    outline-offset: -4px;

    @include mixins.min(sm) {
      padding: .875rem;
    }

    &:hover,
    &:focus {
      color: var(--link);
    }
  }
}

.indicatedLink {
  color: var(--link);
} 

.indicator {
  position: absolute;
  bottom: .5rem;
  height: 2px;
  background-color: var(--link);
  transition: left 0.2s, width 0.2s, opacity 0.2s, transform 0.2s;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transform: translateY(.25rem);

  @include mixins.max(sm) {
    display: none;
  }

  &.indicatorVisible {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

.activeLink {
  color: var(--link);

  @include mixins.max(sm) {
    text-underline-offset: .375em;
    text-decoration: underline;
  }
}

.navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @include mixins.max(sm) {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 4.5rem;
    left: 0;
    right: 0;
    height: calc(100svh - 4.5rem);
    padding: 2rem;
    visibility: hidden;
    transition: all .3s ease-in-out;
    opacity: 0;
    transform: translateY(-2rem);
  }
}

.navigation--open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);

  @include mixins.max(sm) {
    .navList li {
      transform: translate(0);
      opacity: 1;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }
    }
  }

  .contactButtonMobile {
    opacity: 1;
  }
}

.menuButton {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  display:block;
  height: 30px;
  width: 30px;

  @include mixins.min(sm) {
    display: none;
  }
}

.menuIcon {
  margin-left: 3px;
  margin-top: -1px;
}

/* common styles*/
.menuIcon, .menuIcon::before, .menuIcon::after, .menuIcon--close, .menuIcon--close::before, .menuIcon--close::after {
  content: '';
  display: block;
  position: absolute;
  height: 2.7px;
  width: 24px;
  border-radius: 20px;
  transition: top ease .2s, transform ease .2s .2s, background .2s ease .2s;
  background: var(--foreground);
}

/* bottom line of hamburger */
.menuIcon::before {
  top: -7px;
  transition: background ease .2s,top ease .2s .2s, transform ease .2s;
}

/* top line of hamburger */
.menuIcon::after {
  top: 7px;
  transition: background ease .2s,top ease .2s .2s, transform ease .2s;
}

.menuIcon--close {
  background: transparent;
  margin-left: 3px;
  margin-top: -1px;
}

/* line one of close icon */
.menuIcon--close::before {
  transform: rotate(45deg);
  top: 0px;
  background: var(--foreground);
}

/* line two of close icon */
.menuIcon--close::after {
  transform: rotate(-45deg);
  top: 0px;
  background: var(--foreground);
}

.contactButton,
.contactButtonMobile {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-weight: 600;
  transition: opacity .2s, color .2s;
  font-size: 1.125rem;

  &:hover,
  &:focus {
    opacity: .8;
    color: var(--link);
  }
}

.contactButtonContent {
  display: block;
  padding: .3em .6em .4em;
}

.contactButton {
  @include mixins.max(sm) {
    display: none;
  }
}

.contactButtonMobile {
  display: inline-block;
  margin-top: auto;
  text-align: center;
  opacity: 0;
  transition: opacity .3s;
  font-size: 1.375rem;

  @include mixins.min(sm) {
    display: none;
  }

  &.contactButtonMobileDelayed {
    transition-delay: .5s;
  }
}
