.title {
  font-family: var(--font-zilla-slab), serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .block-img {
    margin: 3rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    line-height: 1.4;
    font-size: 1.25rem;

    + p {
      margin-top: 1em;
    }

    + h2 {
      margin-top: 1.5em;
    }

    strong {
      font-size: 1.375rem;
      font-weight: 500;
    }
  }

  h2 {
    font-size: 1.625rem;
    font-weight: 600;

    + p {
      margin-top: 1em;
    }
  }
}
