@use '@/styles/mixins';

.footer {
  width: 100%;
  background-color: #fff;
  margin-top: auto;
  font-size: 1.25rem;

  span {
    opacity: .8;
  }

  @include mixins.max(sm) {
    font-size: 1.125rem;
  }
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
