@use '@/styles/mixins';

.footerWrapper {
  margin-top: auto;
  transition: opacity 0.3s ease-out;

  &.fadeOut {
    opacity: 0;
  }

  &.fadeIn {
    opacity: 1;
  }
}

.footer {
  width: 100%;
  background-color: #fff;
  font-size: 1.125rem;

  span {
    opacity: .8;
  }

  @include mixins.max(sm) {
    font-size: 1rem;
  }
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
