@import '@/styles/mixins';

.footer {
  width: 100%;
  background-color: #fff;
  margin-top: auto;
}

.container {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include max(sm) {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
