@use '@/styles/mixins';

.album {
  display: block;
  transition: opacity .2s;
  
  &:hover,
  &:focus {
    opacity: .8;

    .title {
      color: var(--link);
    }
  }

  &:active {
    .albumWrapper {
      > div {
        transform: translate(0);
      }

      > span {
        box-shadow: none;
        opacity: 0;
      }
    }
  }
}

.albumWrapper {
  display: block;
  width: 100%;
}

.album__cover_wrapper {
  display: block;
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.album__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  font-family: var(--font-zilla-slab), serif;
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition: color .2s;
}
