@use '@/styles/mixins';

.title {
  font-family: var(--font-zilla-slab), serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4rem;

  @include mixins.max(lg) {
    font-size: 2.5rem;
    text-align: center;
  }
}

.description {
  margin-bottom: 3rem;
  p {
    font-size: 1.375rem;
  }

  @include mixins.max(lg) {
    text-align: center;
  }
}

.blogPosts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @include mixins.max(lg) {
    grid-template-columns: 1fr;
  }
}

.blogPost {
  display: block;
  transition: opacity .2s;

  &:hover,
  &:focus {
    opacity: .8;

    h2 {
      color: var(--link);
    }
  }

  &:active {
    .blogPostWrapper {
      > div {
        transform: translate(0);
      }

      > span {
        box-shadow: none;
        opacity: 0;
      }
    }
  }

  .blogPost__image {
    display: block;
    flex-shrink: 0;
    border-radius: 3px;
    overflow: hidden;
    width: 8rem;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    @include mixins.max(sm) {
      width: 6rem;
    }
  }

  h2 {
    margin-bottom: .5rem;
    transition: color .3s;
    font-size: 1.5rem;
    font-weight: 600;

    @include mixins.max(sm) {
      font-size: 1.375rem;
    }
  }

  time {
    opacity: .8;
    font-size: 1rem;
  }
}

.blogPostWrapper {
  display: block;
  width: 100%;
}

.blogPost__inner {
  display: flex;
  align-items: stretch;
  padding: .5rem;
  padding-right: 1rem;
  gap: 1rem;
}

.blogPost__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}
