@use '@/styles/mixins';

.title {
  font-family: var(--font-zilla-slab), serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4rem;

  @include mixins.max(lg) {
    font-size: 2.5rem;
    text-align: center;
  }
}

.description {
  margin-bottom: 3rem;
  p {
    font-size: 1.375rem;
  }

  @include mixins.max(lg) {
    text-align: center;
  }
}

.blogPosts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @include mixins.max(lg) {
    grid-template-columns: 1fr;
  }
}

.blogPost {
  position: relative;
  display: flex;
  align-items: stretch;
  box-shadow: 0 0 0 3px var(--foreground);
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  padding: .5rem;
  transition: opacity .2s, transform .2s, box-shadow .2s, color .2s;

  &:hover,
  &:focus {
    opacity: .8;
    transform: translate(-4px, -4px);
    box-shadow: 0 0 0 3px var(--post-color), 2px 2px 0 3px var(--post-color), 4px 4px 0 3px var(--post-color);

    h2 {
      color: var(--link);
    }
  }

  &:active {
    transform: translate(0);
    box-shadow: 0 0 0 2px var(--post-color);
  }

  .blogPost__image {
    display: block;
    flex-shrink: 0;
    margin-right: 1.25rem;
    border-radius: 3px;
    overflow: hidden;
    align-self: flex-start;
    width: 8rem;
    aspect-ratio: 1/1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h2 {
    margin-bottom: .5rem;
    transition: color .3s;
    font-size: 1.5rem;
    font-weight: 600;

    @include mixins.max(sm) {
      font-size: 1.25rem;
    }
  }

  time {
    opacity: .8;
    font-size: 1rem;
  }

  @include mixins.max(lg) {
    box-shadow: 0 0 0 3px var(--foreground);
  }
}

.blogPost__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}
